{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<!-- This section contain the whole of home page presentation layer -->
<div class="home">
    <div class="home-content col-8 mx-auto">
        <h2 class="text-muted text-center">Home Page</h2>
        <!-- The form to register friends -->
        <div class="">
            {{ wtf.quick_form(form) }}
        </div>
        <hr/>
        <h4 class="text-dark">List of Friends</h4>
        <!-- The Table containing list of friends and Actions (like modifying their movies etc) -->
        <!-- Action involves url to modify Friend's preference page with a GET method using friend's ID -->
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                {% if friends | length > 0 %}
                {% for friend in friends %}
                    <tr>
                        <td>{{friend.firstName}}</td>
                        <td>{{friend.secondName}}</td>
                        <td><a href="{{ url_for('movies.AddMovies', id = friend.id) }}">Modify Movie Preference</a></td>
                    </tr>
                {% endfor %}
                {% else %}
                <p>You've Not entered any friend</p>
                {% endif %}
            </tbody>
        </table>
        <!-- Button to Movie Recommendation Page -->
        <a class="btn btn-outline-dark" href="{{ url_for('movies.RecommendMovie') }}">Go To The Movie Recommendation Page</a>
    </div>
</div>

{% endblock %}